# npm
node_modules
package-lock.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

#ts spexcific
dist

#env
*.env

#docker
docker-commands.txt
.dockerignore
docker-compose.yaml
Dockerfile