<div class="beta-warning">
    <h1 lang="pl" class="warning">!!! UWAGA !!!</h1>
    <p lang="pl" class="warning">
        Niniejsza wiadomość została wysłana w ramach testów aplikacji DepoApp w fazie deweloperskiej.
        Informacje w niej zawarte są nieprawdziwe i służą wyłącznie do sprawdzenia funkcjonalności aplikacji.
    </p>
    <p lang="pl" class="warning">
        Jeśli otrzymałeś tą wiadomość przez pomyłkę zignoruj ją, lub skontaktuj się z nami pod adresem: <br>
        <a href="mailto:tomasztopola.devtests@outlook.com">tomasztopola.devtests@outlook.com</a>
    </p>

    <h1 lang="en" class="warning">!!! WARNING !!!</h1>
    <p lang="en" class="warning">
        This message was sent during DepoApp tests in development stage.
        The contents of this message are not true were inserted for testing purposes only.
    </p>

    <p lang="en" class="warning">
        If you have received this message by mistake please ignore it or contact us at: <br>
        <a href="mailto:tomasztopola.devtests@outlook.com">tomasztopola.devtests@outlook.com</a>
    </p>
</div>