<div class="footer">
    <img class="parlment-logo"src="/assets/parlament-bar-onblack.svg" alt="">
    <p class="footer-text">
        Aplikacja powstała dzięki działalności Parlamentu Studentów Politechniki Morskiej na potrzeby Komisji ds. Mieszkaniowych.
    </p>
    <!-- TODO: fix not-displaying logo -->
</div>