<div class="footer">
    <p class="footer">
        Aplikacja DepoApp powstała dzięki działalności 
        <a href="https://www.pm.szczecin.pl/pl/studenci/samorzad-studencki/">
        Parlamentu&nbsp;Studentów Politechniki&nbsp;Morskiej
        </a>
        na potrzeby Komisji&nbsp;ds.&nbsp;Mieszkaniowych.
    </p>
</div>